:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  @apply dark:bg-neutral-900 dark:text-neutral-100;
}

.light {
  @apply bg-neutral-100 text-neutral-900;
}

.Solid {
  @apply bg-neutral-900 text-neutral-100 px-4 py-2 rounded hover:bg-neutral-800 transition-all dark:bg-neutral-100 dark:hover:bg-neutral-200 dark:text-neutral-900;
}
.Bordered {
  @apply border border-neutral-900 rounded transition-all hover:bg-neutral-200 dark:hover:bg-neutral-800 text-neutral-900 px-4 py-2 dark:border-neutral-100 dark:text-neutral-100;
}

.Light {
  @apply bg-transparent text-neutral-900 px-4 py-2 dark:text-neutral-100;
}

.text-header {
  @apply text-xl md:text-2xl lg:text-4xl font-bold;
}

.text-desc {
  @apply text-lg md:text-xl lg:text-2xl;
}

.text-subheader {
  @apply md:text-lg lg:text-xl text-gray-600 dark:text-gray-400;
}
