:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-btn {
  @apply border border-neutral-900 font-bold text-neutral-900 bg-white px-4 py-1 text-center;
}

.secondary-btn {
  @apply border border-neutral-900 font-bold text-white bg-neutral-900 px-4 py-1 text-center;
}

.text-btn {
  @apply text-neutral-900 font-bold;
}
